/*-- start of body --*/
body {
  background-color:rgb(241, 247, 255);
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.page-title {
  color: rgb(69,92,120);
  font-family: 'Amatic SC', cursive;
  font-size: 32pt;
  text-align: center;
  border-bottom: 1px solid rgb(140,189,188);
  padding: 30px 0;
  margin-bottom: 30px;
}
p {
  font-family: 'Indie Flower', cursive;
  font-size: 16pt;
  padding: 0 5px;
}
.img-col {
  text-align: center;
}
#profile-pic {
  max-width: 200px;
}
input, textarea {
  font-family: 'Indie Flower', cursive;
  border: 1px solid rgb(140,189,188);
  color: rgb(69,92,120);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 400px;
}
input:focus, textarea:focus {
  outline-color: rgb(140,189,188);
}
#sub-btn {
  background-color: rgb(140,189,188);
}

/* --- end of body --- */

@media only screen and (max-width: 767px) {

}