/* --- start of body --- */

body {
  background-color:rgb(241, 247, 255);
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.page-title {
  color: rgb(69,92,120);
  font-family: 'Amatic SC', cursive;
  font-size: 32pt;
  text-align: center;
  border-bottom: 1px solid rgb(140,189,188);
  padding: 30px 0;
  margin-bottom: 30px;
}
.icon-caption {
  font-family: 'Indie Flower', cursive;
  font-size: 18pt;
  text-align: center;
  padding: 20px 0;
}
.counter-icon {
  width: 100%;
  height: auto;
  padding: 0 50px;
}

/* --- end of body --- */

@media only screen and (max-width: 991px) {
  .counter-icon {
    padding: 0;
  }
}