/* --- start of nav --- */
.nav {
  display: flex;
  justify-content:center;
  align-items: baseline;
}
.nav-link {
  font-family: 'Cinzel', serif;
  font-size: 12pt;
  text-align: center;
}
#mid-logo {
  font-size: 36pt;
  font-family: 'Amatic SC', cursive;
  margin-right: 1rem;
}
#mobile-logo {
  font-size: 28pt;
  font-family: 'Amatic SC', cursive;
}
.collapse-logo {
  height: 100px;
}
.logo {
  height: 130px;
}

/* --- end of nav --- 
--- start of footer --- */

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer-text {
  background-color: white;
  color: rgb(140,189,188);
  box-shadow: 0 0 10px white;
  padding: 2px 10px;
  font-family: 'Indie Flower', cursive;
  font-size: 16pt;
  text-align: center;
}
#heart {
  color: rgb(206, 83, 104);
}

/* --- end of footer --- */

@media only screen and (max-width: 767px) {
  .footer-text {
    font-size: 12pt;
  }
}